<h1>Add your restaurant here!</h1>
<p><%= link_to 'Back Home', restaurants_path %></p>
<%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: [ "chinese", "italian", "japanese", "french", "belgian" ] %>
    <%= f.submit %>
<% end %>
